<div>
    <div *ngIf="allBooksInEthereum.labels.length != 0">
      <div style="display: block">
        <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [type]="barChartType"
          >
        </canvas>
      </div>
    </div>
    <div *ngIf="allBooksInEthereum.labels.length == 0" class="row featurette whiteboard rounded">
        <div class="card h-100 align-items-center">
          <div class="card-body p-4 align-items-center row justify-content-center align-self-center">
            <div class="text-center">
              <h1 class="text-secondary">There are not any bought books with ether yet!</h1>
            </div>
          </div>
        </div>
    </div>
</div>
